$modal-border: #ff5747;

html, body {
  height: 100%;
  width: 100%;
}
ul,li,h1,h2,h3,h4,h5,p,body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: 'PT Sans Narrow', sans-serif;
}
*{
  box-sizing: border-box;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/* PANEL CONTROLS */
/******************/
#editor-container {
  position: relative;
  height: inherit;
  min-width: 645px;
  display: flex;
  flex-direction: column;
}
#controls-container {
  position: relative;
  padding: 10px 29px;
  background: #666;
  border-bottom: 2px solid #000;
}
#full-screen-run {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  letter-spacing: 1px;
  padding: 2px 15px;
  border: 2px solid #fff;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background: transparent;
  -moz-box-shadow: 0px 2px 3px 0px #000;
  -webkit-box-shadow: 0px 2px 3px 0px #000;
  box-shadow: 0px 2px 3px 0px #000;
  transition: all 100ms;
  &:hover {
    background: #fff;
    color: #000;
    border-color: #000;
  }
}
#full-screen-run.show {
  display: block;
}
#output-helper {
  position: relative;
  float: right;
  width: 110px;
  span {
    border: 2px solid #000;
    padding: 1px 10px;
    margin-right: 15px;
    border-radius: 3px;
    letter-spacing: 1px;
    -moz-box-shadow:    inset 0 0 10px #696969;
    -webkit-box-shadow: inset 0 0 10px #696969;
    box-shadow:         inset 0 0 10px #696969;
    color: #000;
    background: #fff;
  }
  i.fa-arrows {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 0;
    font-size: 27px;
    color: #e2e6ec;
    &:hover {
      color: #fff;
    }
  }
}
#panel-controls .hide {
  display: none;
}
#panel-controls button.panel-hide {
  background: #fff;
}
/* PANELS */
/**********/
#panels-container {
  height: 100%;
  display: flex;
}
#output-panel {
  position: relative;
  flex-grow: 1;
}
#output {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  border: none;
}
.pointer-evnt-none {
  pointer-events: none;
}
.panel {
  height: inherit;
  border-right: 1px solid #e9592b;
  width: 25%;
  textarea {
    padding: 80px 5px 5px 5px;
    font-size: .9em;
    background: #ebebeb;
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
  }
}
.panel-name {
  position: absolute;
  border: 1px solid #fff;
  border-radius: 3px;
  display: table;
  text-transform: uppercase;
  background: #666;
  color: #fff;
  top: 3px;
  left: 35px;
  padding: 0 3px;
  z-index: 10;
  transition: left 75ms linear;
  .fa-bars {
    margin: 0 8px;
    color: #ff5722;
  }
}
.compress {
  left: 18px;
  width: 100px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  border-color: transparent;
  border: none;
  padding: 0;
  background: transparent;
}
#runScript {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  top: 3px;
  right: 4px;
  padding: 0px 10px;
  transition: opacity, 100ms ease-in-out;
  z-index: 10;
}
#runScript.isEmpty {
  opacity: .5;
}
#runSscript.hide {
  display: none;
}
.fa-gear {
  cursor: pointer;
  color: #fff;
}
/* SETTINGS-MODAL */
#settings-modal {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid $modal-border;
  min-width: 400px;
  width: 55%;
  padding: 10px;
  z-index: 9999;
  background: #fff;
  color: #000;
  h1 {
    font-weight: 700;
    border-bottom: 2px solid #666;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  ul {
    display: flex;
  }
  a {
    color: #666;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 100ms ease-in-out;
    &:hover {
      color: #000;
    }
  }
  li {
    list-style: none;
    padding-right: 30px;
  }
}
.assets input {
  display: inline-block;
  margin: 5px 0;
  width: 85%;
  font-size: 10px;
  padding: 5px;
  background: #e9e9e9;
  outline: none;
  border: 2px solid #666;
  font-weight: 700;
  &:focus {
    border-color: #000;
  }
}
#modal-nav a.active {
  color: #000;
  font-weight: 700;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  border: 2px solid #000;
  z-index: 999;
}
.new-resource {
  float: right;
  border: 2px solid #666;
  border-radius: 3px;
  padding: 1px 4px;
  font-size: .9em;
  position: relative;
  top: -7px;
  color: #666;
  transition: all 100ms;
  cursor: pointer;
  &:hover {
    border-color: #ff5747;
    color: #000;
  }
  .fa-plus {
    color: #ff5747;
  }
}
.fa-times:hover {
  transition: color 100ms;
  cursor: pointer;
  color: #f00;
}
#save {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -45px;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  transition: color, border, 200ms ease-in-out;
  cursor: pointer;
  &:hover {
    color: $modal-border;
    border: 1px solid $modal-border;
  }
}
@media (max-width: 500px) {
  #full-screen-run {
    left: 29px;
    transform: translate(0, -50%)
  }
}
/* CODE-MIRROR */
.CodeMirror {
  background: transparent;
  width: 100%;
  height: auto;
}
.CodeMirror-sizer {
  padding-top: 40px;
  border-right: 0px;
}
.CodeMirror-scroll {
  width: 100%;
  overflow: auto !important;
}
.CodeMirror-hscrollbar {
  overflow-x: hidden;
}
.CodeMirror-linenumber {
  font-size: .7em;
}
.cm-s-mbo.CodeMirror {
  background: #000;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #666;
}
